
ipython
jupyter
numpy
scipy
sklearn
cached-property
tqdm
tensorflow
keras
gensim
attrs
editdistance
wordfreq
boltons

http://download.pytorch.org/whl/torch-0.2.0.post3-cp36-cp36m-macosx_10_7_x86_64.whl
torchvision
